* {
   text-decoration: none;
   margin: 0px;
   padding: 0px; 
}

body {
    margin: 0px;
    padding: opx;
    font-family: Helvetica;
}

.wrapper {
    width: 1100px;
    margin: 200px;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: Helvetica;
    color: #865439;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fafafa;
    z-index: 1;
    border-bottom: 1px solid #865439;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Verdana';
    color: #865439;
}

h2 {
    font-family: 'Verdana';
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 20px;
    color: #865439;
    width: 100%;
    line-height: 50px;
}

a.tbl-login {
    background: #DDBEA8;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px 20px 15px 20px;
    color: #fafafa;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-login:hover {
    background: #645853;
    text-decoration: none;
}

a.tbl-home {
    background: #645853;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fafafa;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-home:hover {
    background: #DDBEA8;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

a.tbl-product {
    background: #645853;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #fafafa;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-product:hover {
    background: #DDBEA8;
    text-decoration: none;
}

.tengah {
    text-align: center;
    width: 100%;
}

.list-testi {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-testi {
    width: 20%;
    margin: 0 auto;
}

.kartu-testi img {
    width: 80%;
    border-radius: 50%;
}

.kartu-testi p {
    font-family: Verdana;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #865439;
}