* {
    text-decoration: none;
    margin: 0px;
    padding: 0px; 
}

body {
    margin: 0px;
    padding: opx;
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}
 
.logo a {
    font-size: 30px;
    font-weight: bold;
    float: left;
    font-family: 'Poppins', sans-serif;
    color: #6F4C5B;
}
 
.menu {
    float: right;
}
 
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fafafa;
    z-index: 1;
}
 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}
 
nav ul li{
    float: left;
}
 
nav ul li a{
    color: black;
    font-weight: 500;
    text-align: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}
 
nav ul li a:hover {
    text-decoration: underline;
 }
 
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
 
 .kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}
 
 .kolom .deskripsi {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #6F4C5B;
}
 
 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 15px;
    color: #6F4C5B;
    width: 100%;
    line-height: 25px;
}
 
 a.tbl-login {
    background: #6F4C5B;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 15px 10px 15px;
    color: #fafafa;
    cursor: pointer;
    font-weight: 500;
}
 
a.tbl-login:hover {
    background: #DEBA9D;
    text-decoration: none;
}
 
a.tbl-home {
    background: #6F4C5B;
    border-radius: 10px;
    margin-top: 200px;
    padding: 10px 15px 10px 15px;
    color: #fafafa;
    cursor: pointer;
    font-weight: 500;
}
 
a.tbl-home:hover {
    background: #DEBA9D;
    text-decoration: none;
}
 
p {
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 10px 0px;
}
 
a.tbl-product {
    background: #6F4C5B;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: #fafafa;
    cursor: pointer;
    font-weight: 500;
}
 
a.tbl-product:hover {
    background: #DEBA9D;
    text-decoration: none;
}
 
.tengah {
    text-align: center;
    width: 100%;
}
 
.list-testi {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
 
.kartu-testi {
    width: 20%;
    margin: 0 auto;
}
 
.kartu-testi img {
    width: 80%;
    border-radius: 50%;
}

.kartu-testi p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #6F4C5B;
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

.footer-section img {
    width: 80%;
    border-radius: 50%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #FFB740;
    width: 100%;
    line-height: 50px;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
    border: 1px solid;
}

.mobile-menu:hover {
    cursor: pointer;
}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgb(145, 31, 39,.9);
    transition: .3s;
}

.sidebar ul li a {
    color: rgb(255, 255, 255);
}

.sidebar ul li {
    padding: 24px;
    border: 1px solid;
}

.sidebar ul li:hover {
    background-color: rosybrown;
    transition: .3s;
    transition-property: background-color;
}

#check:hover ~ .sidebar {
    left: 0;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 10px 0px 50px 0px;
    margin-top: 5%;
}

@media screen and (max-width: 991.98px) {
    
    .mobile-menu {
        display: block;
    }
    
    .wrapper {
        width: 90%;
    }

    .logo img {
        display: block;
        width: 20%;
        text-align: center;
    }

    nav .menu {
        width: 60%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-testi {
        width: 50%;
    }

}